@import url(./css/general-sans.css);
* , *::before, *::after { box-sizing: border-box;
margin: 0;
padding: 0; }
html, body {
height: 100%;
width: 100%;
font-family: 'GeneralSans-Variable', sans-serif;
font-weight: 400;
}
/*---------Header Section----------*/
header{
    width: 100%;
    margin: auto;
    max-width: 1600px;
    display: flex;
    padding: 0px 1.25rem;
    justify-content: space-between;
    align-items: center;
    
    img{
        width: 3rem;
    }
    nav ol {
        display: flex;
        gap: 0.5rem;
        list-style:none;

        li a{
            text-decoration: none;
            color: black;
            position: relative;
        }
        li a::before{
            content: '';
           position: absolute;
           bottom: 0;
           left: 0;
           height: 2px;
           width: 0;
          background-color: red;
          transition: width 0.3s ease;
            
        }
        li a:hover::before{
            
            width: 100%;
            
        }
    }
    i{
         display: none;
         font-size: 1.25rem;
    }
}

@media(max-width:768px){
    header{
        padding: 0px 1rem;

        i{
            display: block;
        }
        nav ol{
        display:none;
    }
}
}
/*---------Hero-Section----------*/
.hero-section{
    width: 100%;
    
    .video-container{
        width: 100%;
        min-height: calc(100vh - 27px);
        position: relative;
        overflow: hidden;
        video{
            height: 100%;
            width: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            object-fit: cover;
            z-index: 1;
        }
        .overlay{
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: rgba(20, 20, 20, 0.4);
            // backdrop-filter: blur(3px);
            z-index: 2;
        }
        .content{
            height: 100%;
            max-width: 1600px;
            margin: auto;
            width: 100%;
            padding: 2rem 1rem;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 3;
            color: white;
            margin: auto;
            display: flex;
            flex-direction: column;
            // background-color: aqua;

            .top{
                
                flex: 1;
                h1{
                    font-size: clamp(1.5rem,3vw ,2rem);
                    font-weight: 700;
                    
                }

            }
            .bottom{
                
                flex: 1;
                display: flex;
                flex-direction: column;
                justify-content: space-around;

                .box1 {
                    flex: 1;
                    
                    display: flex;
                    justify-content: end;
                    
                    p {
                        
                        max-width: 80%;
                        
                }   
            }
                .box2{
                    flex: 1;
                    display: flex;
                    justify-content: end;
                    align-items: center;
                    small{
                        max-width: 60%;
                       
                
                        
                    }
                }

            }
            

        }
    }
}
@media (min-width: 768px) {
    .hero-section{
        .video-container{
        .content{
            flex-direction: row;
            padding: 3rem 1rem;

            .bottom{
                .box2{
                    
                    align-items: end;
                }
            }
        }
    }


}
}
/*-----------Section-2---------*/
.track-section{
    width: 100%;
    padding: 2rem 1rem;
    background-color: black;
    color: white;
    h2{
        font-size: 1.25rem;
        font-weight: 700;
        width: 60%;
    }
    .center{
        
        .top-div{
            display: flex;
            flex-direction: column;
            padding-top: 5rem;

            .div1{
                align-self: flex-end;
                h3{
                    font-size: 1rem;
                }
                p{
                    font-size: 0.875rem;
                    text-align: center;
                    

                }
                small{
                    display: block;
                    font-size: 0.875rem;
                    font-weight: 200;
                    text-align: center;
                    
                }


            }
            .div2{
                width: 100%;
                position: relative;
                padding: 2rem 0px 7rem 0px;
                img{
                    width: 60%;
                    max-width:220px;
                
                }
                p{
                    position:absolute;
                    bottom: 0;
                    left: 0;
                    width: 95;
                    
                }
            }
        }
        .bottom-div
        {
            padding-top: 2rem;
            .div1{
                h4{
                    display: inline;
                    
                }
                img{
                    
                    width: 1rem;
                }
                small{
                    display: block;
                }
            }
            .div2{
                #monza-img{
                    width: 100%;
                    max-width: 300px;
                }
                #suzuka-img{
                    width: 100%;
                }
            }

        }
    }
}