@import url(./css/general-sans.css);
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: "GeneralSans-Variable", sans-serif;
  font-weight: 400;
  background-color: black;
}

/*---------Header Section----------*/
header {
  width: 100%;
  margin: auto;
  max-width: 1600px;
  display: flex;
  padding: 0px 1.25rem;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}
header img {
  width: 3rem;
}
header nav ol {
  display: flex;
  gap: 0.5rem;
  list-style: none;
}
header nav ol li a {
  text-decoration: none;
  color: black;
  position: relative;
}
header nav ol li a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  background-color: red;
  transition: width 0.3s ease;
}
header nav ol li a:hover::before {
  width: 100%;
}
header i {
  display: none;
  font-size: 1.25rem;
}

@media (max-width: 768px) {
  header {
    padding: 0px 1rem;
  }
  header i {
    display: block;
  }
  header nav ol {
    display: none;
  }
}
/*---------Hero-Section----------*/
.hero-section {
  width: 100%;
}
.hero-section .video-container {
  width: 100%;
  min-height: calc(100vh - 27px);
  position: relative;
  overflow: hidden;
}
.hero-section .video-container video {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
}
.hero-section .video-container .overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(20, 20, 20, 0.4);
  z-index: 2;
}
.hero-section .video-container .content {
  height: 100%;
  max-width: 1600px;
  margin: auto;
  width: 100%;
  padding: 2rem 1rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  color: white;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.hero-section .video-container .content .top {
  flex: 1;
}
.hero-section .video-container .content .top h1 {
  font-size: clamp(1.5rem, 3vw, 2rem);
  font-weight: 700;
}
.hero-section .video-container .content .bottom {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.hero-section .video-container .content .bottom .box1 {
  flex: 1;
  display: flex;
  justify-content: end;
}
.hero-section .video-container .content .bottom .box1 p {
  max-width: 80%;
}
.hero-section .video-container .content .bottom .box2 {
  flex: 1;
  display: flex;
  justify-content: end;
  align-items: center;
}
.hero-section .video-container .content .bottom .box2 small {
  max-width: 60%;
}

@media (min-width: 768px) {
  .hero-section .video-container .content {
    flex-direction: row;
    padding: 3rem 1rem;
  }
  .hero-section .video-container .content .bottom .box2 {
    align-items: end;
  }
}
/*-----------Section-2---------*/
.track-section {
  width: 100%;
  max-width: 1600px;
  margin: auto;
  padding: 2rem 1rem;
  background-color: black;
  color: white;
}
.track-section h2 {
  font-size: clamp(1.25rem, 4vw, 2rem);
  font-weight: 700;
  width: 60%;
}
.track-section .center {
  display: flex;
  flex-direction: column;
}
.track-section .center .top-div {
  display: flex;
  flex-direction: column;
  padding-top: 5rem;
}
.track-section .center .top-div .div1 {
  align-self: flex-end;
}
.track-section .center .top-div .div1 h3 {
  font-size: 1rem;
}
.track-section .center .top-div .div1 p {
  font-size: 0.875rem;
  text-align: center;
}
.track-section .center .top-div .div1 small {
  display: block;
  font-size: 0.875rem;
  font-weight: 200;
  text-align: center;
}
.track-section .center .top-div .div2 {
  width: 100%;
  position: relative;
  padding: 2rem 0px 7rem 0px;
}
.track-section .center .top-div .div2 img {
  width: 220px;
}
.track-section .center .top-div .div2 p {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 95%;
  max-width: 300px;
}
.track-section .center .bottom-div {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-top: 2rem;
}
.track-section .center .bottom-div .div1 h4 {
  display: inline;
}
.track-section .center .bottom-div .div1 img {
  width: 1rem;
}
.track-section .center .bottom-div .div1 small {
  display: block;
}
.track-section .center .bottom-div .div2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 290px;
}
.track-section .center .bottom-div .div2 #monza-img {
  width: 100%;
  max-width: 100px;
  align-self: flex-end;
}
.track-section .center .bottom-div .div2 #suzuka-img {
  width: 65%;
  border: 2px solid gray;
}
.track-section .center .bottom-div .div3 {
  align-self: flex-end;
}
.track-section .center .bottom-div .div3 h4 {
  display: inline;
}
.track-section .center .bottom-div .div3 img {
  width: 1rem;
}
.track-section .center .bottom-div .div3 small {
  display: block;
}
.track-section .bottom {
  width: 100%;
  display: flex;
  justify-content: end;
  margin-top: clamp(2rem, 10vw, 10rem);
}
.track-section .bottom div {
  height: 1rem;
  width: 1rem;
  background-color: white;
  border-radius: 50%;
}

@media (min-width: 768px) {
  .track-section {
    padding-top: 7rem;
  }
  .track-section h2 {
    text-align: center;
  }
  .track-section .center {
    flex-direction: row;
  }
  .track-section .center .top-div {
    flex: 1;
    flex-direction: row-reverse;
    justify-content: flex-end;
    min-width: -moz-fit-content;
    min-width: fit-content;
  }
  .track-section .center .top-div .div1 {
    width: auto;
    align-self: flex-start;
    padding-top: 2rem;
  }
  .track-section .center .top-div .div2 {
    width: auto;
  }
  .track-section .center .bottom-div {
    flex: 1;
    justify-content: space-between;
    position: relative;
  }
  .track-section .center .bottom-div .div2 {
    max-width: 400px;
  }
  .track-section .center .bottom-div .div2 #suzuka-img {
    width: 75%;
  }
  .track-section .center .bottom-div .div3 {
    position: absolute;
    bottom: 2rem;
    left: clamp(10rem, 40%, 15rem);
  }
}
/*-----------F1 Car Section---------*/
.f1-car {
  width: 100%;
  padding: 2rem 1rem;
  color: white;
}
.f1-car .container {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 15rem;
}
.f1-car .container .box1 {
  width: 100%;
  max-width: 350px;
}
.f1-car .container .box1 h2 {
  width: 14ch;
  font-size: clamp(1.25rem, 4vw, 2rem);
  font-weight: 700;
}
.f1-car .container .box1 .bottom {
  position: relative;
  padding-top: 3rem;
  margin-top: 7rem;
}
.f1-car .container .box1 .bottom p {
  max-width: 250px;
}
.f1-car .container .box1 .bottom img {
  width: 80%;
  max-width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  opacity: 0.3;
}
.f1-car .container .box2 {
  position: relative;
  display: flex;
  justify-content: end;
  padding-bottom: 3.5rem;
  width: 100%;
  max-width: 350px;
  align-self: flex-end;
}
.f1-car .container .box2 img {
  width: 80%;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
  opacity: 0.3;
}
.f1-car .container .image-box {
  width: 100%;
  position: absolute;
  top: 20%;
  left: 0;
  z-index: -2;
  display: flex;
  justify-content: center;
}
.f1-car .container .image-box img {
  width: 100%;
  max-width: 25rem;
}

@media (min-width: 768px) {
  .f1-car .container {
    background-color: lightpink;
    flex-direction: row-reverse;
  }
  .f1-car .container .box1 {
    background-color: aqua;
    max-width: none;
  }
  .f1-car .container .box1 h2 {
    width: auto;
  }
  .f1-car .container .box1 .bottom {
    margin-top: 0;
    padding-top: 0;
  }
  .f1-car .container .box2 {
    background-color: lightgoldenrodyellow;
    align-self: flex-start;
  }
  .f1-car .container .image-box {
    top: 0%;
    width: 50%;
  }
}