@import url(./css/general-sans.css);
* , *::before, *::after { box-sizing: border-box;
margin: 0;
padding: 0; }
html, body {
height: 100%;
width: 100%;
font-family: 'GeneralSans-Variable', sans-serif;
font-weight: 400;
background-color: black;
}
/*---------Header Section----------*/
header{
    width: 100%;
    margin: auto;
    max-width: 1600px;
    display: flex;
    padding: 0px 1.25rem;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    
    img{
        width: 3rem;
    }
    nav ol {
        display: flex;
        gap: 0.5rem;
        list-style:none;

        li a{
            text-decoration: none;
            color: black;
            position: relative;
        }
        li a::before{
            content: '';
           position: absolute;
           bottom: 0;
           left: 0;
           height: 2px;
           width: 0;
          background-color: red;
          transition: width 0.3s ease;
            
        }
        li a:hover::before{
            
            width: 100%;
            
        }
    }
    i{
         display: none;
         font-size: 1.25rem;
    }
}

@media(max-width:768px){
    header{
        padding: 0px 1rem;

        i{
            display: block;
        }
        nav ol{
        display:none;
    }
}
}
/*---------Hero-Section----------*/

.hero-section{
    width: 100%;
    
    .video-container{
        width: 100%;
        min-height: calc(100vh - 27px);
        position: relative;
        overflow: hidden;
        video{
            height: 100%;
            width: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            object-fit: cover;
            z-index: 1;
        }
        .overlay{
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: rgba(20, 20, 20, 0.4);
            // backdrop-filter: blur(3px);
            z-index: 2;
        }
        .content{
            height: 100%;
            max-width: 1600px;
            margin: auto;
            width: 100%;
            padding: 2rem 1rem;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 3;
            color: white;
            margin: auto;
            display: flex;
            flex-direction: column;
            // background-color: aqua;

            .top{
                
                flex: 1;
                h1{
                    font-size: clamp(1.5rem,3vw ,2rem);
                    font-weight: 700;
                    
                }

            }
            .bottom{
                
                flex: 1;
                display: flex;
                flex-direction: column;
                justify-content: space-around;

                .box1 {
                    flex: 1;
                    
                    display: flex;
                    justify-content: end;
                    
                    p {
                        
                        max-width: 80%;
                        
                }   
            }
                .box2{
                    flex: 1;
                    display: flex;
                    justify-content: end;
                    align-items: center;
                    small{
                        max-width: 60%;
                       
                
                        
                    }
                }

            }
            

        }
    }
}
@media (min-width: 768px) {
    .hero-section{
        .video-container{
        .content{
            flex-direction: row;
            padding: 3rem 1rem;

            .bottom{
                .box2{
                    
                    align-items: end;
                }
            }
        }
    }


}
}
/*-----------Section-2---------*/

.track-section{
    width: 100%;
    max-width: 1600px;
    margin: auto;
    padding: 2rem 1rem;
    background-color: black;
    color: white;
    h2{
        font-size: clamp(1.25rem, 4vw, 2rem);
        font-weight: 700;
        width: 60%;
    }
    .center{
        display: flex;
        flex-direction: column;
        
        .top-div{
            display: flex;
            flex-direction: column;
            padding-top: 5rem;
            
            

            .div1{
                
                
                
                align-self: flex-end;
                h3{
                    font-size: 1rem;
                }
                p{
                    font-size: 0.875rem;
                    text-align: center;
                    

                }
                small{
                    display: block;
                    font-size: 0.875rem;
                    font-weight: 200;
                    text-align: center;
                    
                }


            }
            .div2{
                
                width: 100%;
                position: relative;
                padding: 2rem 0px 7rem 0px;
                img{
                    width: 220px;
                
                }
                p{
                    position:absolute;
                    bottom: 0;
                    left: 0;
                    width: 95%;
                    max-width: 300px;
                    
                }
            }
        }
        .bottom-div
        {
            display: flex;
            flex-direction:column;
            gap: 2rem;
            padding-top: 2rem;
            .div1{
                h4{
                    display: inline;
                    
                }
                img{
                    
                    width: 1rem;
                }
                small{
                    display: block;
                }
            }
            .div2{
                display: flex;
                flex-direction: column;
                width: 100%;
                max-width: 290px;
                
                #monza-img{
                    width: 100%;
                    max-width: 100px;
                    align-self: flex-end;
                }
                #suzuka-img{
                    width: 65%;
                    
                    border: 2px solid gray;
                }
               
            }
            .div3{
                align-self: flex-end;
               
                
                h4{
                    display: inline;
                    
                }
                img{
                    
                    width: 1rem;
                }
                small{
                    display: block;
                    
                }
            }

        }
    }
    .bottom{
        width: 100%;
        display: flex;
        justify-content: end;
        margin-top: clamp(2rem, 10vw, 10rem);
        div{
            height: 1rem;
            width: 1rem;
            background-color: white;
            border-radius: 50%;
        }
    }
}
@media(min-width:768px){
    .track-section{
        padding-top: 7rem;
        h2{
            text-align: center;
        }
        .center{
            flex-direction: row;
            .top-div{
                flex: 1;
                flex-direction: row-reverse;
                justify-content: flex-end;
                min-width: fit-content;         
                .div1{
                    width: auto;        
                    align-self: flex-start;
                    padding-top: 2rem;
                }
                .div2{
                    width: auto;
                }
            
            }
            .bottom-div{
                flex: 1;
                justify-content: space-between;
                position: relative;
                
                .div2{
                    
                    max-width: 400px;
                    #suzuka-img{
                        width: 75%;
                    }
                    
                    
                }
                .div3{
                    position: absolute;
                    bottom: 2rem;
                    left: clamp(10rem, 40%, 15rem);
                }
            }
            
        }
        


    }
}
/*-----------F1 Car Section---------*/
.f1-car{
    width: 100%;
    max-width: 1600px;
    margin: auto;
    padding: 2rem 1rem;
    color: white;
    
    .container{
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 7rem;
        
        & > img{
            width: 100%;
            max-width: 280px;
            position: absolute;
            top: 20%;
            bottom: 0;
            right: 50%;
            left: 50%;
            transform: translate(-50%, 0);
            z-index: -2;
        
        }
        h2{
            width: 190px;
            
            font-size: clamp(1.25rem, 4vw, 2rem);
        }
        .content{
            display: flex;
            flex-direction: column;
            gap: 10rem;
            .top-content{
                
                .box{
                    position: relative;
                    

                    
                    p{
                    max-width: 210px;
                     padding-top: 2rem;
                    }
                    img{
                        width: 90%;
                        max-width: 300px;
                        position: absolute;
                        z-index: -1;
                        opacity: 0.5;
                    }
                 }
                 .r1{
                    display: none;
                 }
            }
            .bottom-content
            {
                
                .box{
                    position: relative;
                    display: flex;
                    justify-content: end;
                    p{
                        max-width: 210px;
                        padding-bottom: 2rem;
                    }
                    img{
                        position: absolute;
                        width: 90%;
                        max-width: 300px;
                        z-index: -1;
                        opacity: 0.5;
                        bottom: 0;

                    }
                }
                &>img{
                    display: none;

                }
            }
        }
    }
}
@media(min-width:768px){
    .f1-car{
        
        .container{
            gap: 0rem;
            h2{
                width: fit-content;
                position: relative;
                left: 50%;
            }
            &>img{
                
                bottom: 0;
                right: auto;
                left: 30%;
            }
            .content{
                flex-direction: row;
                gap: 0rem;
                .top-content{
                    width: 50%;
                    display: flex;
                    flex-direction: column;
                    gap: 6rem;
                    .box{
                        p{
                            padding-top: 0rem;
                        }
                        img{
                            display: none;
                        }
                    }
                    .r1{
                        
                        display: flex;
                        justify-content: space-between;
                        h4{
                            font-size: clamp(1rem, 20vw, 20rem);
                        }
                    }
                }
                .bottom-content{
                    width: 50%;
                    display: flex;
                    flex-direction: column;
                    .box{
                        justify-content: start;
                        p{
                            padding-bottom: 0rem;
                            min-width: 220px;
                        }
                        img{
                            opacity: 1;
                            position: relative;
                        }
                    }
                    &>img{
                        display: block;
                        max-width: 300px;
                        align-self: flex-end;
                        margin-right: 5rem;
                        
                    }
                }
            }
        }
    }
}